/* Body reset and container */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2;
  font-family: 'Titillium Web';
}

.headers-container {
  background-color: #193141;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.headers-container .headers {
  z-index: 1;
  text-align: center;
}

.headers-container h1 {
  color: #d2bfb7;
  font-size: 84px;
}

.headers-container h2 {
  color: #d2bfb7;
  font-style: italic;
  font-size: 48px;
}

.social {
  list-style-type: none;
  font-size: 48px;
}

.social a i {
  color: #f2f2f2;
  margin-right: 30px;
}

.social a i:hover {
  color: #d2bfb7;
}

/* Menu */ 
.menu {
  background-color: #193141;
  overflow: hidden;
  font-size: 18px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu li {
  display: inline-block;
  margin-left: 20px; /* Change margin-left to margin-right */
}

/* Remove margin-right from the last item in the list */
.menu li a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #f2f2f2;
  color: #222222
}

/* Add styles for the active link */
.menu li a.active {
  font-weight: bold; /* Or use text-decoration: underline; */
}

/* Summary section */
.summary {
  display: flex; 
  height: 40vh; /* Set the height to occupy half the viewport */
}

.summary-item {
  flex: 1; /* Distributes equal width to each item */
  margin-top: 2rem;
  margin-right: 4rem;
}

.part1 {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: flex-start; /* Aligns content to the top */
  margin-right: 4rem;
}

.part1 img {
  max-width: 20rem;
  max-height: 20rem;
  width: auto;
  height: auto;
  border-radius: 48px;
  object-fit: cover;
}

.part2 {
  display: flex;
  flex-direction: column; /* Stack subparts vertically */
}

.subpartA {
  flex: 0.5; /* Take up remaining vertical space */
  /* Additional styles for subpartA */
}

.subpartA h3 {
  font-size: 18px;
}

.subpartA p {
  font-size: 14px;
  text-align: justify;
}

.subpartB {
  display: flex;
}

.download-button {
  background-color: #193141;
  color: #f2f2f2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.download-button i {
  margin-right: 1rem;
}