/* Body reset and container */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2;
  font-family: 'Titillium Web', sans-serif;
}

.headers-container {
  background-color: #193141;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: relative;
}

.headers-container .headers {
  z-index: 1;
  text-align: center;
}

.headers-container h1 {
  color: #d2bfb7;
  font-size: 48px;
}

.headers-container h2 {
  color: #d2bfb7;
  font-style: italic;
  font-size: 30px;
}

.social {
  list-style-type: none;
  font-size: 30px;
}

.social a i {
  color: #f2f2f2;
  margin-right: 30px;
}

.social a i:hover {
  color: #d2bfb7;
}

/* Menu */ 
.menu {
  background-color: #193141;
  overflow: hidden;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu li {
  display: inline-block;
  margin-left: 20px; /* Change margin-left to margin-right */
}

/* Remove margin-right from the last item in the list */
.menu li a {
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #f2f2f2;
  color: #222222
}

/* Add styles for the active link */
.menu li a:current {
  font-weight: bold; /* Or use text-decoration: underline; */
}

.summary {
  text-align: center;
}

.summary h3 {
  font-size: 22px;
}

.summary p {
  font-size: 16px;
}