---
layout: default
small_header: true
---

<div class="subpage-info">
    <h1>Talks and contributions (under construction)</h1>
    <ul>
        {% assign sorted_talks = site.talks | sort: 'date' | reverse %}
        {% for talk in sorted_talks %}
            <li>
            {% if talk.city and talk.country %}
                <i>{{ talk.title }}</i>, <a href="{{ talk.web }}">{{ talk.conference }}</a>, {{ talk.city }} ({{ talk.country }}), {{ talk.year }}.
            {% else %}
                <i>{{ talk.title }}</i>, <a href="{{ talk.web }}">{{ talk.conference }}</a>, {{ talk.city }}, {{ talk.year }}.
            {% endif %}
                <!--<button class="download-button talk" onclick="downloadFile('{{ talk.asset_address }}')">
                    <i class="fas fa-download"></i>
                </button>-->
            </li>
        {% endfor %}
    </ul> 
</div>

<div class="subpage-info publications">
    <h1>List of publications</h1>
    <p>
        You can visit 
        <a href="https://scholar.google.es/citations?user=Ql5ybvoAAAAJ&hl=en" title="Google Scholar profile">my Google Scholar profile</a>
        to see all the statistics.
    </p>
    <ul>
        {% assign sorted_publications = site.publications | sort: 'date' | reverse %}
        {% for publication in sorted_publications %}
            <li>
                {{ publication.authors }}, <i>{{ publication.title }}</i>, {{ publication.journal }} <b>{{ publication.volume }}</b>, {{ publication.page }} ({{ publication.year }}).
                DOI: <a href="https://doi.org/{{ publication.doi }}">{{ publication.doi }}</a>
            </li>
        {% endfor %}
    </ul> 
    <p>Furthermore, you can find my PhD thesis available online in <a href="https://arxiv.org/abs/1912.04141">arXiv 1912.04141</a>.</p>
</div>
