/* Reset and Globals */
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Titillium Web';
  overflow-x: hidden;
  min-height: 100%;
  transition: background-color 0.2s ease;
}

/* Dark-mode */
body.dark-mode {
  background-color: #222222;
  color: #f2f2f2;
}

body.dark-mode .menu-header, 
body.dark-mode .headers-container, 
body.dark-mode .small-headers-container {
  background-color: hwb(204 10% 85%);
}

body.dark-mode a, 
body.dark-mode .menu ul li a {
  color: #f2f2f2;
}

body.dark-mode .menu ul li a:hover {
  background-color: #d2bfb7;
  color: #222222;
}

body.dark-mode .research-card {
  background-color: #2a2a2a; 
}

body.dark-mode h1 {
  color: #f2f2f2
}

body.dark-mode #footer {
  background-color: hwb(0 13% 95%);
}

.floating-dark-mode {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(242, 242, 242);
  color: #222222;
  padding: 1rem;
  border-radius: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.floating-dark-mode:hover {
  background-color: #d2bfb7;
}

body.dark-mode .floating-dark-mode {
  color: #222222;
  box-shadow: 0 0 10px rgba(242, 242, 242, 0.5);
}

/* Common patterns */
button, .button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

a[href] {
  text-decoration: none;
  color: #D08770;
}

a[href]:hover {
  color: #be674c;
}

/* Pop-up */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(242, 242, 242, 0.8);
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #222222;
  font-size: 1.5rem;
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: -20px;
  right: 0.75rem;
  font-size: 3rem;
  cursor: pointer;
  color: #222222;
}

.close-button:hover {
  color: #d39378;
}

/* Top menu with icon */ 
.menu-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #193141;
  overflow: hidden;
  font-size: 1.2rem;
  z-index: 100;
  transition: background-color 1.5s ease; 
}

.menu-header.scrolled {
  background-color: #222222;
}

.menu-header .icon {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  transition: opacity 1.5s ease; /* Add transition property */
}

.menu-header .icon.covered {
  opacity: 0;
}

.icon img {
  margin-right: 1rem;
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.menu ul li {
  margin: 0 1.5rem;
}

.menu ul li a {
  display: flex;
  color: #f2f2f2;
  padding: 14px 16px;
}

.menu ul li a:hover {
  background-color: #f2f2f2;
  color: #222222;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

.menu ul li a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* Header with name, title and social media icons */ 
.headers-container {
  background-color: #193141;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100vh;
  position: relative;
}

.headers-container .headers {
  z-index: 1;
  text-align: center;
}

.headers-container h1 {
  color: #d2bfb7;
  font-size: 8rem;
}

.headers-container h2 {
  color: #d2bfb7;
  font-style: italic;
  font-size: 4rem;
}

.headers-container .headers .social {
  list-style-type: none;
  font-size: 5rem;
}

.headers-container .headers .social a i {
  color: #f2f2f2;
  margin-right: 2.5rem;
}

.headers-container .headers .social a i:hover {
  color: #d2bfb7;
}

/* Summary section */
.summary {
  display: flex; 
  overflow: hidden;
  margin-bottom: 10rem;
  z-index: 10;
}

.summary-item {
  flex: 1; /* Distributes equal width to each item */
  margin-top: 2rem;
  margin-right: 4rem;
}

.part1 {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  align-items: flex-start; /* Aligns content to the top */
  margin-right: 4rem;
}

.part1 img {
  max-width: 20rem;
  max-height: 20rem;
  width: auto;
  height: auto;
  border-radius: 48px;
  object-fit: cover;
  margin-top: 1rem;
  margin-right: 3rem;
}

.part2 {
  display: flex;
  flex-direction: column; /* Stack subparts vertically */
}

.subpartA {
  flex: 0.5;
  padding-right: 200px;
}

.subpartA h3 {
  font-size: 1.2rem;
}

.subpartA p {
  font-size: 1rem;
  text-align: justify;
}

.subpartA p a {
  text-decoration: none;
  color: #D08770;
}

.subpartB {
  display: flex;
}

.download-button {
  background-color: #193141;
  color: #f2f2f2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.download-button i {
  margin-right: 1rem;
}

.download-button:hover {
  background-color: #222222;
}

.download-button.talk {
  justify-content: center;
}

.download-button.talk i {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Footer section */
#footer {
  background-color: #222222;
  color: #888888;
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scrollToTop {
  font-size: 2rem;
  display: inline-block;
  border: none;
  background-color: #1a1a1a;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 1s;
  position: absolute;
  left: 50%;
  bottom: 75%;
  transform: translateX(-50%);
}

#scrollToTop:hover {
  background-color: #222222;
}

/* Smaller header for other sections rather than Home */
.small-headers-container {
  background-color: rgb(25, 49, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 30vh;
  position: relative;
  margin-top: 2rem;
}

.small-headers-container .headers {
  z-index: 1;
  text-align: center;
}

.small-headers-container h1 {
  color: #d2bfb7;
  font-size: 3.5rem;
}

.small-headers-container .headers .social {
  list-style-type: none;
  font-size: 3rem;
}

.small-headers-container .headers .social a i {
  color: #f2f2f2;
  margin-right: 2.5rem;
}

.small-headers-container .headers .social a i:hover {
  color: #d2bfb7;
}

.subpage-info ul li {
  font-size: 1.2rem;
}

.subpage-info {
  text-align: left;
  overflow: hidden;
  padding: 2rem;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 5rem;
  z-index: 10;
}

.subpage-info.research figure {
  text-align: center;
  margin-top: 1rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subpage-info.research figure img {
  max-width: 30rem;
}

.subpage-info.research figure figcaption {
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0;
  text-align: center;
  max-width: 40rem;
}

.subpage-info h1 {
  font-size: 2rem;
  color: #193141;
}

.subpage-info h3 {
  font-size: 1.5rem;
}

.subpage-info p {
  font-size: 1rem;
}

.subpage-info p a {
  text-decoration: none;
  color: #D08770;
}

.subpage-info ul {
  font-size: 1rem;
}

.subpage-info ul li {
  margin-bottom: 1rem;
}

.subpage-info ul li a {
  text-decoration: none;
  color: #D08770;
}

.research-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem; 
  margin-top: 2rem; 
}

.research-grid h3, .research-grid .topic-content {
  margin: 0; 
}

.research-grid .topic-content {
  margin-top: 1rem; 
}

.research-grid .research-card h3 {
  font-size: 1.5rem;
}

.research-card {
  background-color: #fafafa; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(25, 49, 65, 0.4); 
  padding: 1.5rem; 
  transition: transform 0.2s, box-shadow 0.2s; 
}

.research-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 6px 12px rgba(25, 49, 65, 0.8); 
}

#p-news {
  text-align: justify;
}

.news-date {
  font-size: 1rem;
}

.general-info {
  margin-bottom: 2.5rem;
}

.general-info p, .email-info p {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: -2rem;
}

.general-info p a {
  text-decoration: none;
  color: #D08770;
}

.email-info {
  margin-bottom: 3.5rem;
}
